:host {
  height: 130px;
  display: inline-block;
  width: calc(100% - 16px);
  //margin: 8px;
  padding: 8px 8px 0;
}

.mat-card-date {
  float: right;
}

#idname {
  margin-bottom: 0;
}

#datediv {
  position: relative;
  right: 0;
  width: auto;
}

#datepicker {
  padding-left: 10px;
}

.fill-parent {
  height: calc(100% - 32px);
}
