:host {
  display: inline-block;
  width: calc(100% - 16px);
  padding: 8px 8px 0;
}

.information-top-bar__content_container {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center space-between;
  align-items: center;
}

.mat-card-date {
  float: right;
}

#idname {
  margin-bottom: 0;
}

.fill-parent {
  height: calc(100% - 32px);
}

.datepicker_container {
  display: flex;
  align-items: baseline;
}

.employeeName_container {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 30%;
}

//Mobile Optimizations
.mobile__subtitle {
  display: none;
}

@media screen and (max-width: 765px) {
  .mobile__subtitle {
    display: inline;
  }

  .subtitle {
    display: none;
  }

  .employeeName_container {
    display: none;
  }

  .datepicker_container {
    flex-direction: column;
    gap: 20px;
  }
}
