.mat-mdc-table {
  width: 100%;
}

// ng-deep because bottom-sheet isn't part of the components HTML, it only gets attached
::ng-deep .mat-bottom-sheet-container{
  padding: 16px;
}

.mat-mdc-row:nth-child(2) {
  border-bottom: solid 1px grey;
}

.mat-column-checked{
  justify-content: end;
}
