<mat-table [dataSource]="displayedEmployees" class="mat-elevation-z1 table-container">
  <ng-container matColumnDef="in-charge">
    <mat-header-cell *matHeaderCellDef>{{'monthly-report.pm-progress-bottom-sheet.in-charge' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="checked">
    <mat-header-cell *matHeaderCellDef>{{'monthly-report.pm-progress-bottom-sheet.finished' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <app-state-indicator [state]="element.state" size="small"></app-state-indicator>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


