<div
  *ngIf="!loggedIn()"
  class="login-container">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>
      {{'login.cardTitle' | translate}}
    </mat-card-title>

    <mat-card-content class="login__content_container">
      <span class="text">
        {{'login.promptText' | translate }}
      </span>

      <button
        (click)="login()"
        color="primary"
        mat-raised-button>
        {{'login.btnText' | translate}}
      </button>
    </mat-card-content>
  </mat-card>
</div>
