@import 'src/styles/colors';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.75 !important;
}

button:focus {
  outline: none;
}

app-display-monthly-report {

  .mdc-checkbox__background {
    background-color: $mega-success-green !important;
  }

  // remove disabled-opacity
  .mdc-checkbox {
    opacity: 1 !important;
  }

  .mat-mdc-card-content {
    font-size: 20px;
    padding-top: 20px;
  }

  app-information-top-bar .mat-mdc-card-content {
    padding-top: 0;
  }

  .fill-parent {
    height: 100%;
    width: 100%;
  }

}

app-time-check, app-journey-check, app-employee-check, app-general-info {
  .mat-mdc-card-content {
    font-size: 20px;
    overflow: auto;
    height: 100%;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
}

.mobile-label {
  display: none;
}

@media (max-width: 800px) {
  .mobile-label {
    width: 140px;
    display: inline-block;
    text-align: left !important;
  }
}

.mega-custom-tooltip .mdc-tooltip__surface {
  font-size: 15px;
  white-space: pre-line;
}

app-project-overview-card, app-project-management {
  .btn-addComment {
    flex-grow: 0 !important;
    color: $gepardec-black;
    background-color: transparentize($gepardec-yellow, 0.5);
  }
}

.office_management__table-row {
  min-height: 75px;
  height: fit-content;
}

.select-date-toolbar-row {
  justify-content: flex-end;
  min-height: 100px;
  /* Override Material's default height */
  height: auto !important;
}

.select-date-toolbar-column {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 30px;
}

// seit angular/material v15 sind icon buttons 48x48 groß. mit dieser klasse wird er zu 40x40, wie davor
.gepardec-icon-button {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
    width: 24px;
    height: 24px;
    font-size: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 40px !important;
    height: 40px !important;
  }
}
