<mat-toolbar class="mat-elevation-z6" color="accent">
  <mat-toolbar-row class="select-date-toolbar-row">
    <div class="select-date-toolbar-column">
      <span>{{'global.selectPayrollMonth' | translate}}</span>
      <app-datepicker-month-year (dateChanged)="dateChanged($event)" [date]="date" [maxMonth]="maxMonthDate"></app-datepicker-month-year>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<app-enterprise-card></app-enterprise-card>
<app-projects-without-leads-card></app-projects-without-leads-card>
<app-project-overview-card></app-project-overview-card>
<app-employee-card></app-employee-card>
