mat-icon {
  font-size: 80px;
  width: auto;
  height: auto;
}

.error_container {
  height: 80%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  place-content: center;
  align-items: center;
}
