@import '../../../../../styles/colors';

mat-form-field {
  width: 100%;
}

.saveBtn {
  background-color: $mega-success-green;
  color: white;
}

pre {
  font-family: inherit;
  margin-top: 15px;
}

th, td {
  font-size: 17px;
}

table {
  width: 100%;
}

.dialog_content {
  padding-top: 10px;
}

tr.mat-mdc-header-row {
  height: 56px;
}
