
// Damit das Icon nicht abgeschnitten wird
mat-cell, mat-header-cell {
  //box-sizing: content-box !important;
}

.mat-column-date {
  flex: 0 0 35%;
}

.mat-column-warningIcon {
  display: flex;
  justify-content: center;
  flex: 0;
}

.fill-parent {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
}

.no-warnings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
