.mat-column-unit {
  flex: 0 0 15%;
}

.mat-column-description {
  flex: 0 0 60%;
}

.mat-column-value {
  flex: 0 0 15%;
  justify-content: right;
  padding-right: 8px;
}

.mat-table {
  width: 100%;
  overflow: hidden;
  padding-top: 8px;
}

.mat-header-cell {
  height: 0;
}

.mat-row:nth-child(3) {
  border-bottom: solid 1px grey;
}
